*/.RData
*/.Rhistory
*/tempCodeRunnerFile.r
*/.DS_Store
.Rproj.user
analysis/models*
analysis/archive
analysis/itemfits
analysis/reduced*
analysis/cat/*
!analysis/cat/.gitkeep
data*
plots*
*_old
*.DS_Store
analysis/clustering
